<!DOCTYPE html>
<html>
<head>
  <title>Кращий вибір</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  <%= csrf_meta_tags %>


</head>
<body class="body">
    <!--<li class='active'><a href='index.html'><span>Home</span></a></li>-->
    <!--<li class='last'><a href='#'><span>Contact</span></a></li>-->
    <div class="top1">
        <div class="top">
            <div class="top_title"><a href="/">#Кращий вибір</a></div>
        </div>
        <div id="cssmenu">
          <%= print_horizontal_menus(@menus) %>
        </div>
    </div>

    <div style="margin-right:5px;">
        <div class="crumbs">
          <%= print_crumbs(@id) %>
        </div>
    </div>

    <div class="main">
        <%= yield %>
    </div>

    <div style="clear:both"></div>
    <div class="bottom1">
        &nbsp;
    </div>
</body>
</html>
